{% extends 'base.html'%}
{% load static %}

{% block childpage %}
<div class="container">
 <div class="row my-5">
  <div class="col-sm-6">
   <img src="{% static 'images/WhatsApp Image 2024-09-23 at 3.06.42 PM.jpeg'%}" height="400" width="600" class="img-fluid"/>
  </div>
  <div class="col-sm-6 mx-auto ">
   <h1 class=" my-2">About <b class="txt-color1">US</b></h1>
   <b>This project belong to News Portal.</b>
   <p>
Samachar India redefines the essence of news delivery by focusing on the core principle of authenticity. Unlike traditional newspapers, which may be bogged down by the concept of "paper," Samachar India places emphasis on "news"—delivering accurate, timely, and comprehensive information about global events and local happenings. At Samachar India, our mission is to provide real news, devoid of rumors and misinformation. We are committed to highlighting significant issues that shape our world, working diligently to keep our readers informed with integrity and reliability. Our goal is not just to capture attention, but to engage and inform through well-crafted, humorous, and descriptive content. We believe that more information is always better than less, and strive to present it in a way that is both engaging and enlightening. Whether through detailed articles, witty commentary, or insightful analysis, Samachar India aims to be your trusted source for news.
   </p>
   <a class="btn btn-dark">Know More..</a>
  </div>
 </div>

<div class="row my-5">

  <div class="col-sm-6 mx-auto ">
   <h1 class=" my-2">Our <b class="txt-color1">Vission</b></h1>
   <b></b>
   <p>
Our vision for the news portal is to be a trusted source of timely, accurate, and relevant information that empowers our readers. We aim to deliver diverse perspectives on current events, fostering informed discussions and deeper understanding within our communities. By embracing innovative technologies and engaging multimedia content, we strive to create an accessible platform that not only informs but also inspires. Together, we envision a space where curiosity thrives and knowledge drives positive change.


   </p>
   <a class="btn btn-dark">Know More..</a>
  </div>
  <div class="col-sm-6">
   <img src="{% static 'images/WhatsApp Image 2024-09-23 at 3.06.44 PM.jpeg'%}" height="400" width="600" class="img-fluid"/>
  </div>
 </div>
</div>

{% endblock %}